
.canvas {
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh);
	width: 100%;
}

.canvas form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.25);
	max-width: 500px;
}

.canvas form h1 {
	color: white;
	font-family: Nunito-Light;
	font-size: 25px;
	margin: 0px;
	width: 50vw;
	text-align: center;
}


.canvas input[type="text"], .canvas textarea {
	width: 80%;
	padding: 10px;
	font-size: 15px;
	font-family: Nunito-Light;
	outline: none;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 1px;
	background-color: transparent;
	color: white;
	margin: 10px;
	resize: none;
}


.canvas input[type="submit"] {
	height: 40px;
	width: 100px;
	background-color: white;
	border-style: none;
	border-radius: 3px;
	color: #008EA4;
	font-family: Nunito-SemiBold;
	cursor: pointer;
	margin-top: 20px;
	font-size: 20px;
	padding: 0px;
}

@media screen and (max-width: 500px) {

	.canvas input[type="text"], .canvas textarea {
		width: 100%;
	}

	.canvas form h1 {
		font-size: 20px;
	}
}

@media screen and (max-width: 700px) {
	.canvas form {
		width: 75%;
	}
}

@media screen and (max-height: 500px) {

	.canvas {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 414px) {
	.canvas {
		position: static;
		min-height: calc(100vh - 80px);
	}
}

@media screen and (max-height: 414px) {
	.canvas {
		position: static;
		min-height: calc(100vh - 80px);
	}
}
